

  <h1 *ngIf="title">Bienvenido a {{ title }}</h1>

<!-- Formulario para agregar una transacción -->
<form (submit)="agregarTransaccion()">
  <label for="descripcion">Descripción:</label>
  <input type="text" id="descripcion" [(ngModel)]="descripcion" required>
  
  <label for="monto">Monto:</label>
  <input type="number" id="monto" [(ngModel)]="monto" required>

  <button type="submit" class="btn btn-success" data-mdb-ripple-init>Agregar Transacción</button>
</form>

<!-- Mostrar lista de transacciones -->
<ul>
  <li *ngFor="let transaccion of transacciones">
    {{ transaccion.descripcion }} - ${{ transaccion.monto }} - {{ transaccion.fecha }}
  </li>
</ul>
      <p>App1. 🎉</p>
      <!-- Botón para instalar la PWA -->
      <h1>aqui deberia haber un boton pa instalar la PWA</h1>
      <button (click)="installPWA()">Instalar PWA</button>

   